LabPan_SE_for_Marina/AppleStore.csv
LabPan_SE_for_Marina/M_lab5_Pandas.ipynb
LabPan_SE_for_Marina.rar
Lab2_SE_for_Marina.rar
up.rar
test.py
test2.jpg
test2.py
test3.py
test4.py
test_png.jpg
pyplot_test.py
GOVNO.png
GOVNO.jpg
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
Lab2_SE_for_Marina/1.py
Lab2_SE_for_Marina/2.py
Lab2_SE_for_Marina/3.py
Lab2_SE_for_Marina/4.py
Lab2_SE_for_Marina/5.py
Lab2_SE_for_Marina/all_in.py
.metals
.vscode
.project
.bloop
google.png
img.png
imgur.jpg
imgur1.jpg
KFC.png
pic.png
search_pic.png
2 course/Lab2_SE_for_Marina/1.py
2 course/Lab2_SE_for_Marina/2.py
2 course/Lab2_SE_for_Marina/3.py
2 course/Lab2_SE_for_Marina/4.py
2 course/Lab2_SE_for_Marina/5.py
2 course/Lab2_SE_for_Marina/all_in.py
2 course/LabPan_SE_for_Marina/AppleStore.csv
2 course/LabPan_SE_for_Marina/M_lab5_Pandas.ipynb
vk_pages.txt
Scala/HraniGospod/target/scala-2.13/update/update_cache_2.13/inputs
Scala/HraniGospod/target/scala-2.13/update/update_cache_2.13/output
Scala/HraniGospod/target/streams/_global/_global/csrLogger/_global/streams/out
Scala/HraniGospod/target/streams/_global/csrConfiguration/_global/streams/out
Scala/HraniGospod/target/streams/_global/csrProject/_global/streams/out
Scala/HraniGospod/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
Scala/HraniGospod/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
Scala/HraniGospod/target/streams/_global/ivyConfiguration/_global/streams/out
Scala/HraniGospod/target/streams/_global/ivySbt/_global/streams/out
Scala/HraniGospod/target/streams/_global/moduleSettings/_global/streams/out
Scala/HraniGospod/target/streams/_global/projectDescriptors/_global/streams/out
Scala/HraniGospod/target/streams/_global/update/_global/streams/out
Scala/HraniGospod/target/streams/_global/updateClassifiers/_global/streams/out
Scala/HraniGospod/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
Scala/HraniGospod/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
Scala/HraniGospod/target/streams/compile/bloopAnalysisOut/_global/streams/inc_compile_2.13.zip
Scala/HraniGospod/target/streams/compile/bloopGenerate/_global/streams/out
Scala/HraniGospod/target/streams/compile/bloopPostGenerate/_global/streams/out
Scala/HraniGospod/target/streams/compile/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/target/streams/compile/managedClasspath/_global/streams/export
Scala/HraniGospod/target/streams/compile/scalacOptions/_global/streams/out
Scala/HraniGospod/target/streams/compile/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/target/streams/compile/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/target/streams/compile/unmanagedJars/_global/streams/export
Scala/HraniGospod/target/streams/it/bloopGenerate/_global/streams/out
Scala/HraniGospod/target/streams/it/bloopPostGenerate/_global/streams/out
Scala/HraniGospod/target/streams/runtime/unmanagedJars/_global/streams/export
Scala/HraniGospod/target/streams/test/bloopGenerate/_global/streams/out
Scala/HraniGospod/target/streams/test/bloopPostGenerate/_global/streams/out
Scala/HraniGospod/target/streams/test/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/target/streams/test/managedClasspath/_global/streams/export
Scala/HraniGospod/target/streams/test/scalacOptions/_global/streams/out
Scala/HraniGospod/target/streams/test/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/target/streams/test/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/target/streams/test/unmanagedJars/_global/streams/export
Scala/HraniGospod/project/build.properties
Scala/HraniGospod/project/metals.sbt
Scala/HraniGospod/project/project/metals.sbt
Scala/HraniGospod/project/project/project/target/config-classes/$624fd9c4817c4a225103.cache
Scala/HraniGospod/project/project/project/target/config-classes/$624fd9c4817c4a225103.class
Scala/HraniGospod/project/project/project/target/config-classes/$624fd9c4817c4a225103$.class
Scala/HraniGospod/project/project/target/config-classes/$ae7dc83d163ccd01165b.cache
Scala/HraniGospod/project/project/target/config-classes/$ae7dc83d163ccd01165b.class
Scala/HraniGospod/project/project/target/config-classes/$ae7dc83d163ccd01165b$.class
Scala/HraniGospod/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
Scala/HraniGospod/project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
Scala/HraniGospod/project/project/target/streams/_global/_global/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/_global/csrLogger/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/csrConfiguration/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/csrProject/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
Scala/HraniGospod/project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
Scala/HraniGospod/project/project/target/streams/_global/ivyConfiguration/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/ivySbt/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/moduleSettings/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/projectDescriptors/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
Scala/HraniGospod/project/project/target/streams/_global/update/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/_global/_global/compileOutputs/previous
Scala/HraniGospod/project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
Scala/HraniGospod/project/project/target/streams/compile/bspReporter/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/compile/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/compileIncremental/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/compileIncremental/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/copyResources/_global/streams/copy-resources
Scala/HraniGospod/project/project/target/streams/compile/copyResources/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/dependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/exportedProducts/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/incOptions/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/managedClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/scalacOptions/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/project/project/target/streams/compile/unmanagedJars/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/exportedProducts/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/fullClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
Scala/HraniGospod/project/project/target/streams/runtime/managedClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/project/project/target/streams/runtime/unmanagedJars/_global/streams/export
Scala/HraniGospod/project/target/config-classes/$3f9f5f3bd092ba2cb3fe.cache
Scala/HraniGospod/project/target/config-classes/$3f9f5f3bd092ba2cb3fe.class
Scala/HraniGospod/project/target/config-classes/$3f9f5f3bd092ba2cb3fe$.class
Scala/HraniGospod/project/target/config-classes/$59c57f4bc11831b1711a.cache
Scala/HraniGospod/project/target/config-classes/$59c57f4bc11831b1711a.class
Scala/HraniGospod/project/target/config-classes/$59c57f4bc11831b1711a$.class
Scala/HraniGospod/project/target/config-classes/$6199e8e02fe17705ade2.cache
Scala/HraniGospod/project/target/config-classes/$6199e8e02fe17705ade2.class
Scala/HraniGospod/project/target/config-classes/$6199e8e02fe17705ade2$.class
Scala/HraniGospod/project/target/config-classes/$c0094e1c0459bd91d352.cache
Scala/HraniGospod/project/target/config-classes/$c0094e1c0459bd91d352.class
Scala/HraniGospod/project/target/config-classes/$c0094e1c0459bd91d352$.class
Scala/HraniGospod/project/target/config-classes/$de26990885c425664c3f.cache
Scala/HraniGospod/project/target/config-classes/$de26990885c425664c3f.class
Scala/HraniGospod/project/target/config-classes/$de26990885c425664c3f$.class
Scala/HraniGospod/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
Scala/HraniGospod/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
Scala/HraniGospod/project/target/streams/_global/_global/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/_global/csrLogger/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/csrConfiguration/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/csrProject/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
Scala/HraniGospod/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
Scala/HraniGospod/project/target/streams/_global/ivyConfiguration/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/ivySbt/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/moduleSettings/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/projectDescriptors/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/update/_global/streams/out
Scala/HraniGospod/project/target/streams/_global/updateSbtClassifiers/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/_global/_global/compileOutputs/previous
Scala/HraniGospod/project/target/streams/compile/_global/_global/discoveredMainClasses/data
Scala/HraniGospod/project/target/streams/compile/bloopGenerate/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/bloopPostGenerate/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/bspReporter/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/compile/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/compileIncremental/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/compileIncremental/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/copyResources/_global/streams/copy-resources
Scala/HraniGospod/project/target/streams/compile/copyResources/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/dependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/exportedProducts/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/incOptions/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/managedClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/scalacOptions/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/compile/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/project/target/streams/compile/unmanagedJars/_global/streams/export
Scala/HraniGospod/project/target/streams/it/bloopGenerate/_global/streams/out
Scala/HraniGospod/project/target/streams/it/bloopPostGenerate/_global/streams/out
Scala/HraniGospod/project/target/streams/runtime/dependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/exportedProducts/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/fullClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
Scala/HraniGospod/project/target/streams/runtime/managedClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
Scala/HraniGospod/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
Scala/HraniGospod/project/target/streams/runtime/unmanagedJars/_global/streams/export
Scala/HraniGospod/project/target/streams/test/bloopGenerate/_global/streams/out
Scala/HraniGospod/project/target/streams/test/bloopPostGenerate/_global/streams/out
sym3.txt
M_H_Lab_SE.py
Scala/HraniGospod/src/main/scala/lab2.scala
TeoryAuto/testout/test_graph.gv
TeoryAuto/test-output/roundtable.gv
.gitignore
testout/test_graph.gv
testout/test_graph.gv.pdf
tesout/test_graph.gv
sym3.txt
sym.txt
test_graph.gv
sym3.txt
sym.txt
TeoryAuto/testout/test_graph.gv.png
TeoryAuto/testout
testout/file1.txt
testout/file2.txt
testout/file3.txt
testout/test_graph.gv.png
temporary_files/sym2.txt
