LabPan_SE_for_Marina/AppleStore.csv
LabPan_SE_for_Marina/M_lab5_Pandas.ipynb
LabPan_SE_for_Marina.rar
Lab2_SE_for_Marina.rar
up.rar
test.py
test2.jpg
test2.py
test3.py
test4.py
test_png.jpg
pyplot_test.py
GOVNO.png
GOVNO.jpg
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
Lab2_SE_for_Marina/1.py
Lab2_SE_for_Marina/2.py
Lab2_SE_for_Marina/3.py
Lab2_SE_for_Marina/4.py
Lab2_SE_for_Marina/5.py
Lab2_SE_for_Marina/all_in.py
google.png
img.png
imgur.jpg
imgur1.jpg
KFC.png
pic.png
search_pic.png
2 course/Lab2_SE_for_Marina/1.py
2 course/Lab2_SE_for_Marina/2.py
2 course/Lab2_SE_for_Marina/3.py
2 course/Lab2_SE_for_Marina/4.py
2 course/Lab2_SE_for_Marina/5.py
2 course/Lab2_SE_for_Marina/all_in.py
2 course/LabPan_SE_for_Marina/AppleStore.csv
2 course/LabPan_SE_for_Marina/M_lab5_Pandas.ipynb
